.monaco-editor-container {
  width: 1000px; 
  height: 250px; 
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.monaco-editor-container .monaco-editor {
  width: 100%; 
  height: 100%; 
  flex-grow: 1; 
}